{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}

<div class="home-container">
  <div id="particles-js"></div>

  <div id="logo-container">
    <img class='ff-logo' src="https://static.igem.wiki/teams/5192/home-page/ff-logo.webp">
  </div>

  <div class="fixed-content">
    <div class="fixed-text">
      <div class="pfas-imgs">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-blue.png" 
        style="position: fixed;
        top: 15vw;
        width: 850px;
        left:-150px;
        transform: rotate(30deg);">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-blue.png" 
        style="position: fixed;
        left:-12vw;
        top:-35vh;
        width: 800px;
        transform: rotate(-28deg);">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-blue.png"
        style="position: fixed;
        width: 850px;
        top:-35vh;
        right:-4vw;
        transform: rotate(160deg);">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-blue.png" style="position: fixed;
        width: 800px;
        transform: rotate(198deg);
        top:15vw;">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-lightblue.png" style="position: fixed;
        width: 350px;
        top:-10vh;
        transform: rotate(30deg);
        left:30vw;">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-lightblue.png" style="position: fixed;
        top:10vh;
        left:20vw;
        transform:rotate(-50deg);">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-lightblue.png" style="position: fixed;
        bottom:-7vw;
        transform: rotate(-30deg);">
        <img src="https://static.igem.wiki/teams/5192/home-page/pfas-lightblue.png" class="pfas-blue">

      </div>
      <div class="yellow-fixed-txt">
        <div class="home-text">
          Per- and polyfluoroalkyl substances, known as <span class="home-callout">PFAS</span>, are toxic chemicals that can accumulate in the body.
        </div>
        <div class="home-text">
          They can cause medical conditions like <span ><a class="home-callout" link="https://factor.niehs.nih.gov/2019/3/feature/2-feature-pfas">malignant cancerous tumors, cholestoral diseases, and thyroid disease</a></span>. 
        </div>

      </div>
    </div>
  </div>

  <div class="section mt-0 s1">
    <div class="content">
      <div class="home-text">
        <span class="home-callout">North Carolina</span> is at the epicenter for PFAS contamination due to environmental and state factors.
      </div>
      <br>
      <img id="nc-graphic" src="https://static.igem.wiki/teams/5192/home-page/nc-graphic.png">
      <div class="home-text">
        Industrial contaminants in waste and drinking water have spread across the state, accumulating over time in the environment, according to a study conducted by the <span><a class="home-callout" link="https://factor.niehs.nih.gov/2019/3/feature/2-feature-pfas">NIH</a></span>.
      </div>
    </div>
  </div>

  <div class="section s2">
  </div>

  <div class="section s3" >
    <div class="content">
        Scroll Div 3
    </div>
  </div>

</div>
{% endblock %}
