{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}
<div class="row justify-content-center mb-4 mt-2">
  <h1 class="text-center header-text">TEAM</h1>
</div>

<div class = "big_group_picture">
**big group team picture
</div>

<!--probably going to want to auto-populate this too, keep this for now for testing-->
<div class="center">
  <div class="team-popup" id="popup">
    <div class="left">
      <div class="name" id="popup_name">
        Test Name
      </div>
      <div class="name job" id="popup_job">
        Role: Wiki
      </div>
      <div class="description">
        <p id="popup_desc">
          stuff about person
        </p>
      </div>
    </div>
    <div class = "right">
          <div class = "memberPicture" id="popup_pic">
            <img src = "../../static/images/person.png" alt = "profile picture">
          </div>
    </div>
  </div>
</div>

<div class="members"></div>

{% endblock %}
